<!DOCTYPE html5>
<html lang="en">
  
  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" contents="width=device-width, initial-scale=1.0">
    <title>TradeStation</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

  </head>

  <body>
    
    <header id="navbar">
      <span id="navbarBrand">TradeStation</span>
      <span id="sprenger">
        Sprenger <span id="v">V</span>
      </span>
    </header>
  
  </body>

</html>
