<main>
  {{#if currencies}}

  {{else}}

  <div id="select">
    <h3>Choose your trading pairs:</h2>
    <form id="selectForm">
      <button type="submit" id="selectBtn">GET INFO</button>
    </form>
  </div>

  <script src="/js/select.js"></script>

  {{/if}}
</main>
